/** @format */

#header {
  text-align: center;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main > div {
  border: 5px solid black;
}

#stats {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 480px;
  background-color: #000f;
  color: #eee;
}

#mini-map {
  position: absolute;
  right: 50px;
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-style: inset;
  border-width: 5px;
  border-color: #000f;
}

#game-view {
  display: grid;
  width: 672px;
  height: 480px;
  grid-template-columns: repeat(auto-fill, 48px);
  gap: 0 0;
}
