/** @format */

body {
  box-sizing: border-box;
}

header {
  text-align: center;
}

footer {
  margin-top: 4ex;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#game > div {
  border: 5px solid black;
}

#side-pane {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 480px;
  background-color: #000f;
  color: #eee;
}

#side-pane > div {
  padding: 10px 0;
}

#stats {
  border-bottom: 5px solid #333;
}

#mini-map {
  position: absolute;
  right: 50px;
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-style: inset;
  border-width: 5px;
  border-color: #000f;
}

#map-view {
  display: grid;
  width: 672px;
  height: 480px;
  grid-template-columns: repeat(auto-fill, 48px);
  gap: 0 0;
}

.keyboard-key {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #ddd;
  border-radius: 5px;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
}
